<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a  routerLink="" class="navbar-brand">Online Campus</a>
        </div>

        <div class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav">
                <li><a routerLink="/admin-courses">Admin</a></li>
                <li><a routerLink="/teacher-courses">Teacher</a></li>
                <li><a routerLink="/student-courses">Student</a></li>
            </ul>
        </div>
        
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="#">Login</a></li>
                <li><a href="#">Sing in</a></li>
            </ul>
        </div>
    </div>
</nav>