<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" *ngIf = "user">
            <a  [routerLink]="startRoute" class="navbar-brand">Online Campus</a>
        </div>

        <div class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav" *ngIf = "user && user.role">
                <li><a [routerLink]="startRoute" style = "cursor: pointer;">{{user.role}}</a></li>
            </ul>
        </div>
        
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li *ngIf = "!user" style = "cursor: pointer;"><a (click)="onLogin()">Login</a></li>
                <li *ngIf = "user"><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>