<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary">New Course</button>
        <button type="button" class="btn btn-success">Create Account</button>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <app-admin-course-list></app-admin-course-list>
    </div>
    <div class="col-md-6">
        <app-admin-course-edit
        *ngIf="courseSelected; else infoText"
        [course] = "courseSelected"></app-admin-course-edit>
        <ng-template #infoText>
            <p>Please Select A Course!</p>
        </ng-template>
    </div>
</div>