<div class="row">
    <div class="col-xs-12">
        <a 
        href="#" 
        class="list-group-item clearfix" 
        *ngFor="let course of courses">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ course.abreviation }}</h4>
                <p class="list-group-item-text">{{ course.name }}</p>
            </div>
        </a>
        <app-student-course-item></app-student-course-item>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary">Add a Course</button>
    </div>
</div>

