<div *ngIf = "course">
  <div class="row">
      <div class="col-md-12">
        <h3>{{ course.abreviation }} grades</h3>
        <hr>
          <form [formGroup] = "editForm" (ngSubmit) = "onSubmit()">
            <div class = "row" formArrayName = "grades">
              <div class="col-12">
                  <div 
                  class="row"
                  [formGroupName] = "i"
                  *ngFor="let student of students; let i = index">
                    <div class="col-md-3">
                      <h5>{{ student.firstName }} {{ student.lastName }}</h5>
                    </div>
                    <div class="col-md-2">
                      <input type="number" class="form-control" placeholder="Grade" formControlName = "grade">
                    </div>
                  </div>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-md-5">
                <button type="submit" class="btn btn-success pull-right" [disabled] = "editForm.invalid">Apply</button>
                <button type="button" class="btn btn-dark pull-right" (click) = "onClear()">Clear All</button>
                <button class = "btn btn-default" [routerLink] = "['/teacher-courses', id]">Cancel</button>
              </div>
            </div>
          </form>
      </div>
  </div>
</div>