<div class="row">
    <div class="col-md-12">
        <div >
            <h3>Course Name</h3>
            <table class="table table-hover">
                <caption>List of students</caption>
                <thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Grade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr 
                  *ngFor="let student of students">
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.lastName }}</td>
                    <td>Grade</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary">Add A Student</button>
    </div>
</div>
