<div class="row">
    <div class="col-md-12">
        <form [formGroup] = "editForm" (ngSubmit) = "onSubmit()" *ngIf = "editForm">
            <div class="form-group">
                <label for="exampleFormControlInput1">Course Name <span style = "color:red">*</span></label>
                <input type="text" formControlName="name" class="form-control" id="exampleFormControlInput1" placeholder="Insert Course Name here">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput2">Abreviation <span style = "color:red">*</span></label>
                <input type="text" formControlName="abbreviation" class="form-control" id="exampleFormControlInput2" placeholder="Insert Course Abreviation (eg. SSD)">
              </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Teacher <span style = "color:red">*</span></label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="teacher">
                <option
                *ngFor="let teacher of teachers" [ngValue]="teacher">{{ teacher.firstName }} {{ teacher.lastName }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Course Details and Description"></textarea>
            </div>
            <button class="btn btn-success" type="submit" [disabled] = "editForm.invalid">Change</button>
            <button type = "button" class = "btn btn-danger" (click) = "onDeleteCourse()">Delete Course</button>
            <button class="btn btn-dark" type="button" (click) = "onCancel()">Cancel</button>
        </form>
    </div>
</div>
