<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Course Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{ course.name }}">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput2">Abreviation</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="{{ course.abreviation }}">
              </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Teacher</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option
                *ngFor="let teacher of teachers">{{ teacher.firstName }} {{ teacher.lastName }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="{{ course.description }}"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Change</button>
            <button class="btn btn-danger pull-right" type="button">Delete Course</button>
            <button class="btn btn-dark" type="button">Cancel</button>
        </form>
    </div>
</div>
